[submodule "franc-master-control"]
	path = franc-master-control
	url = git@github.com:starlight-traveler/franc-master-control.gitrm -rf .git/modules/franc-interconnect-control

[submodule "franc-interconnect-control"]
	path = franc-interconnect-control
	url = git@github.com:starlight-traveler/franc-interconnect-control.git
[submodule "franc-ground-control/lib/quill"]
	path = franc-ground-control/lib/quill
	url = https://github.com/odygrd/quill
[submodule "franc-ground-control/lib/imgui"]
	path = franc-ground-control/lib/imgui
	url = https://github.com/ocornut/imgui
